<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="PathFileClientes" value="C:\Users\User\Desktop\ITLA MATERIAS\ITLA C-1 2026\Electiva 1 (Big Data)\clients.csv" />
		<add key="PathFileProductos" value="C:\Users\User\Desktop\ITLA MATERIAS\ITLA C-1 2026\Electiva 1 (Big Data)\products.csv" />
		<add key="PathFileEncuestas" value="C:\Users\User\Desktop\ITLA MATERIAS\ITLA C-1 2026\Electiva 1 (Big Data)\surveys_part1.csv" />
	</appSettings>

	<connectionStrings>
		<add name="connDbOpiniones"
			 connectionString="Server=LAPTOP-SS7TVQ7E\SQLEXPRESS;Database=OpinionesClientes;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>